fastapi
uvicorn
yfinance
streamlit
openai
langchain
faiss-cpu
whisper
pyttsx3
requests
beautifulsoup4
spacy-alignments==0.9.0
pandas
numpy
streamlit-aggrid
streamlit-chat
spacy-transformers
pydub
pip>=24.0
sounddevice
pyaudio
# Additional dependencies for specific functionalities
streamlit-ace
streamlit-lottie
streamlit-extras
streamlit-plotly-events
streamlit-option-menu